/* style h2 tags on hover */
h2 {
    display: inline-block;
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
    
  }
  
  h2::before {
    content: '';
    background-color: #FFF;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  h2:hover::before {
    bottom: 0;
    height: 100%;
  }