@font-face {
    font-family: 'BODAR';
    src: local('BODAR'), url(./fonts/BODAR.woff) format('woff');
  }
  
  @font-face {
      font-family: 'Bovino';
      src: local('Bovino'), url(./fonts/Bovino-Black.woff) format('woff');
  }
  
  @font-face {
      font-family: 'Bovino';
      font-weight: 900;
      src: local('Bovino'), url(./fonts/Bovino-BlackItalic.woff) format('woff');
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Bovino'), url(./fonts/Bovino-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Bovino'), url(./fonts/Bovino-RegularItalic.woff) format('woff');
}

@font-face {
    font-family: 'Galyon';
    font-weight: 900;
    src: local('Galyon'), url(./fonts/Galyon-Bold-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Galyon';
    src: local('Galyon'), url(./fonts/Galyon-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Galyon';
    font-weight: 900;
    src: local('Galyon'), url(./fonts/Galyon-Book-Italic.woff) format('woff');
}
@font-face {
    font-family: 'Galyon';
    font-weight: 900;
    src: local('Galyon'), url(./fonts/Galyon-Book.woff) format('woff');
}

@font-face {
    font-family: 'Indira_K';
    font-weight: 900;
    src: local('Indira_K'), url(./fonts/Indira_K.woff) format('woff');
}

@font-face {
    font-family: 'Miracle_5';
    font-weight: 900;
    src: local('Miracle_5'), url(./fonts/Miracle_5.woff) format('woff');
}

@import url('./fonts/BODAR.woff');
@import url('./fonts/Miracle_5.woff');
@import url('./fonts/Galyon-Bold-Italic.woff');