html {
  scroll-behavior: smooth;
}

header {
  background-color: #9da9a0;
}

.scroll-mt-offset {
  scroll-margin-top: 10rem;
}

.menu-icons-mobile,
.menu-icons-desktop {
  width: 30px;
  height: 24px;
  margin: auto;
}

.menu-icons-mobile {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(000deg) brightness(0%)
    contrast(90%);
  margin-left: 16px;
}

.menu-icons-desktop {
      --webkit-filter:  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(000deg) brightness(0%)
    contrast(90%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(000deg) brightness(0%)
    contrast(90%);

}
