/* image carousel */
#body {
  color: whitesmoke;
  font-family: "Play", monospace, sans-serif, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

h1,
h3 {
  text-align: justify;
}

#hero_banner .fs-1 {
  position: relative;
  color: #0d6efd;
}
/* typewrite effect */
/* https://www.youtube.com/watch?v=w1nhwUGsG6M&ab_channel=KevinPowell */
#typewriter {
  width:fit-content;  
}

#typewriter::before,
#typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#typewriter::before {
  background: #212529;
  animation: typewriter 2s steps(25) 2s forwards;
}

#typewriter::after {
  width: 0.125em;
  background: whitesmoke;
  animation: typewriter 2s steps(25) 2s forwards,
    blink 1000ms steps(25) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

#profile_img {
  border-radius: 30%;
  height: auto;
  max-width: 40vw;
}

/* flip card styling */
/* https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/ */
.flip_card_grid {
  display: grid; /* The cards can be presented in a grid layout  so their widths are not content-dependent. */
  grid-gap: 1.5rem; /* gap between cards */
  grid-auto-rows: 1fr;
  padding: 2rem; /* padding around cards */
  background: whitesmoke;
  grid-template-columns: repeat(
    auto-fit,
    minmax(20rem, 1fr)
  ); /* set out the columns: size determined by the size of the container and on the size of the content of the items in the column */
}

.card {
  perspective: 1000px; /* change how the 3D effect appears 'out of the screen' */
  display: flex;
  transition: z-index, transform calc(2s / 4);
  transition-delay: 2s, 0s;
  z-index: 0;
}

.card-body {
  display: flex;
  transform-style: preserve-3d;
  transition: 2s transform;
  border-radius: 20%;
  flex: 1;
}

.card:hover .card-body,
.card:focus .card-body {
  transform: rotateX(
    -180deg
  ); /* upon hover, rotate 180 deg from the top rotating to the bottom of pg. +180deg rotate bottom to top.*/
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden; /* safari */
  backface-visibility: hidden; /*  hide content i.e. when the front is showing to the user, hide the back. When the back is showing, hide the front.*/
  min-width: 100%; /* set the width to expand to 100% of the width of the parent container */
  display: flex;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.card-back {
  transform: rotateX(-180deg) translate(-100%, 0); /* rotate upside down and move in the x direction: -100% overlays the cardback directly on top of the card front. -150% moves to the left by half the container width, 100% moves to the right by a full width. Keep the same y direction = 0 */
}

.card:hover {
  transition-delay: 0s;
  z-index: 1;
}

.card:active {
  transform: scale(0.975);
}

.card-front {
  font-size: 1rem;
  object-fit: contain;
}

.card-back {
  line-height: 1.25rem;
}

.shadow,
.card-front,
.card-back {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04),
    0 16px 16px rgba(0, 0, 0, 0.04);
}

#bio .img-fluid {
  border-radius: 10%;
  height: 60%;
  margin-top: 5%;
}

#cv_icon {
  padding: 1vw;
}

#github_icon {
  padding: 0.5vw;
}

#linkedIn_icon {
  padding: 0.75vw;
}

/* styles for carousel */

.carousel-inner {
  height: 40rem;
  background: #777;
  position: relative;
  background-image: url(/Portfolio/Portfolio/images/sigmund-SZGdof7rk7g-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
}

/*, .carousel-indicators */
.carousel-control-next, .carousel-control-prev {
  filter: invert(100%); 
}

@media (max-width: 1000px) {
  #carousel-control-prev, #carousel-control-next {
    display: none;
  }
}

@media (max-width: 680px) {
  .RLT,
  .RPS,
  .Notes,
  .DB,
  .Menu {
    font-size: 12px;
  }
  .carousel-item h5 {
    font-size: 0.75rem;
  }
}

@media (max-width: 570px) {
  .carousel-item h5 {
    font-size: 0.6rem;
  }
}